#root {
    width: max-content
}

#cipher-button {
    width: 100%
}

textarea {
    border-radius: 10px 10px 10px 10px;
    resize: none;
}

button {
    border-radius: 10px 10px 10px 10px;
    background-color: darkgreen;
}

select {
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}

#labelKey {
    margin-bottom: 10px;
}

input {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid darkgrey;
}